{% extends 'AppBundle::base.html.twig' %}




{% block body %}

  <div class="content p-4">
    <h2 class="mb-4">Add new post</h2>

    <div class="card mb-4">
      <div class="card-body">
        <form action="{{ path('aliexperts_add_post') }}" method="post">
          <div class="form-group">
            <div class="form-group">
              <input class="form-control form-control-lg" required name="url" type="text" placeholder="product url">
            </div>
            <div class="form-group"><input required class="form-control form-control-lg" name="name" type="text" placeholder="post name">
            </div>
            <div class="form-group">
              <select required class="form-control" id="exampleFormControlSelect1" name="hashtag">
                <option value="#электроника@experts_ali">электроника</option>
                <option value="#длядома@experts_ali">длядома</option>
                <option value="#одежда@experts_ali">одежда</option>
                <option value="#аксессуары@experts_ali">аксессуары</option>
                <option value="#авто@experts_ali">дляавто</option>
                <option value="#красотаиздоровье@experts_ali">красотаиздоровье</option>
                <option value="#игрушки@experts_ali">игрушки</option>
                <option value="#длякухни@experts_ali">длякухни</option>
              </select>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg text-center">Get link</button>
          </div>
        </form>
      </div>
    </div>
  </div>




{% endblock %}

