{% extends 'AppBundle::base.html.twig' %}




{% block body %}

  <div class="content p-4">
    <h2 class="mb-4">Get epn ref link</h2>

    <div class="card mb-4">
      <div class="card-body">
        <h1>Epn link <span class="badge badge-secondary">short</span></h1>
        <input type="text" class="form-control" value="{{ url_short }}">
      </div>
    </div>
  </div>




{% endblock %}

